# docker-compose.compensation-test.yml
# Use this to test SAGA compensation (inventory failure after payment success)
#
# Usage: docker-compose -f docker-compose.yml -f docker-compose.compensation-test.yml up --build

version: '3.8'

services:
  payment-service:
    environment:
      - PAYMENT_FAILURE_RATE=0  # Payment ALWAYS succeeds
  
  inventory-service:
    environment:
      - INVENTORY_FAILURE_RATE=50  # Inventory fails 50% of the time - triggering compensation!
